.mobile-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: fluid(45px, 65px);
    background-color: #FFF;
    height: rem(70);

    button {
        position: relative;
        appearance: none;
        border: none;
        background-color: transparent;
        color: $medium-dark;
        font-size: fluid(14px, 16px);
        cursor: pointer;

        svg {
            position: relative;
            width: fluid(24px, 32px);
            height: fluid(24px, 32px);
        }

        &:hover {
            &::before {
                content: '';
                position: absolute;
                transition: all 0.3s ease-in-out;
                top: 50%;
                left: 50%;
                width: rem(43);
                height: rem(43);
                background-color: rgba(255, 159, 36, 0.24);
                border-radius: 50%;
                transform: translate(-50%, -50%);
                filter: blur(10px);
            }

            svg {
                color: $secondary;
            }
        }
    }
}